# dependencies/node_modules/yarn-error.log# testing/__tests__/__snapshots__/coverage.nyc_output/.cache/.eslintcache/.prettiercache# environments.env.local.env.development.local.env.test.local.env.production.local.env# logsnpm-debug.log*yarm-debug.log*# misc.DS_Storebuild/